<div class="row">
	<div class="small-12 columns text-center">
		<h4>Receive your random amusement today!</h4>
	</div>
</div>
<% flash.each do |key, value| %>
	<div class="row">
		<div class="small-6 columns small-centered">
			<%= content_tag(:div, value, :class => 'alert-box success') %>
		</div>
	</div>
<% end %>
<%= form_for @sms_message do |form| %>
	<div class="row">
		<div class="small-6 columns small-centered">
			<%= form.text_field :number, placeholder: '+61231231231' %>
		</div>
	</div>
	<div class="row">
		<div class="small=6 columns small-centered text-center">
			<%= form.submit class: 'button large' %>
		</div>
	</div>
<% end %>
