<div class="row">
	<div class="small-5 columns small-centered">
		<%= form.label :email %>
		<%= form.text_field :email, type: 'email' %>
	</div>
</div>

<div class="row">
	<div class="small-5 columns small-centered">
		<%= form.label :password %>
		<%= form.password_field :password %>
	</div>
</div>
